* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
} body {
    font-family: 'Poppins', sans-serif;
} header {
    height: 100vh;
    width: 100vw;
} .navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
} .navbar a {
    color: white;
} .navbar .logo {
    font-size: 35px;
    font-weight: bold;
    z-index: 1100;
} .navbar .nav-links ul {
    display: flex;
} .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
} .navbar .nav-links ul li.active a {
    color: rgb(255, 0, 0)
} .navbar .menu-hamburger {
    width: 35px;
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 1200;

} @media screen and (max-width: 880px) {
    .navbar .menu-hamburger {
        display: block;
    } .navbar {
        padding: 0;
    } .navbar .logo {
        position: absolute;
        top: 50px;
        left: 50px;
    }
} .nav-links {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.452);
    width: 100%;
    backdrop-filter: blur(5px);
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s;
    z-index: 1100;
} .mobile-menu {
    margin-left: 0;
}
 .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
} .menu-hamburger {
    top: 0;
    right: 0;
    width: 15%;
    height: 20%;
    display: flex;
    
}
@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 70s linear infinite;
    -ms-animation:move-background 70s linear infinite;
    -o-animation:move-background 70s linear infinite;
     -webkit-animation:move-background 70s linear infinite;
    animation:move-background 70s linear infinite;
	
}

.clouds{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

    -moz-animation:move-background 150s linear infinite;
    -ms-animation:move-background 150s linear infinite;
    -o-animation:move-background 150s linear infinite;
    -webkit-animation:move-background 150s linear infinite;
    animation:move-background 150s linear infinite;
}
.moon{
  height: 70vh;
  width:70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
} .menu-hamburger {
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
} .menu-hamburger:hover {
    opacity: 0.7; }
    .menu-hamburger.is-active:hover {
    opacity: 0.7; }
    .menu-hamburger.is-active .hamburger-inner,
    .menu-hamburger.is-active .hamburger-inner::before,
    .menu-hamburger.is-active .hamburger-inner::after {
    background-color: #000; 
}
